    <h2 class="label label-primary text-center"><%= t('.sign_up', :default => "Sign up") %></h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        </div>
      </div>
        <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-eye-close"></span>
              <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password" %>
            </div>
        </div>
      <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-eye-close"></span>
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Confirm password"  %>
      </div>
    </div>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary btn-sign-up center-block" %>
    <% end %>
<%= render "devise/shared/links" %>
